
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #6070ff;
}

.headline {
  background: #fff url("images/header-shapes-mobile.png") no-repeat;

  /* background-size: contain; */
  background-size: 100%;
  display: flex;
  flex-direction: column;

  /* height: 100%; */
  border-bottom-left-radius: 10%;
  padding: 55px 20px 0;
}

.headline h1 {
  width: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline .content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 24px;
  color: #344563;
  margin: 15px 0;
}

.headline .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin: 15px 0;
}

.headline .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline .social-media li {
  display: inline;
  margin-right: 4%;
  font-size: 1.4em;
}

.headline i {
  color: #505f79;
  margin-bottom: 58%;
}
