
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #fff;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #6070ff;
}

.headline {
  background: #fff url("images/header-shapes-mobile.png") no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  /* border-bottom-left-radius: 75px; */
  padding: 55px 20px 0;
}

.headline h1 {
  width: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline .content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 24px;
  color: #344563;
  margin: 15px 0;
}

.headline .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin: 15px 0;
}

.categories ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  font-size: 1.3em;
  margin: 0;
}

.stack ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0;
}

.headline .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline .social-media li {
  display: inline;
  margin-right: 4%;
  font-size: 1.4em;
}

.headline i {
  color: #505f79;
  margin-bottom: 58%;
}

.work {
  display: grid;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 15px;
  margin: 50px 20px;
}

.work img {
  width: 100%;
  height: auto;
}

.card-contents {
  display: flex;
  flex-direction: column;
}

.work .card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 44px;
  width: 65%;
  color: #172b4d;
  margin: 3px 0;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0;
  margin: 30px 0 30px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counters {
  width: 10px;
  height: 10px;
  background-color: #c1c7d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8px;
}

.work .card-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin: 5px 0;
  color: #344563;
}

.techs {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.techs .techs-item {
  display: inline-block;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 5px;
}

.techs-link {
  text-decoration: none;
  display: block;
  color: #6070ff;
}

.work .work-btn {
  width: 149px;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #396df2;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0 20px 0;
}

.about-myself {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 30px;
  margin-top: 15%;
  border-top-right-radius: 110px;
}

.myself-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 65px 0 5px 0;
}

.myself .contents {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #344563;
  margin: 10px 0;
}

.myself .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin: 25px 0;
}

.myself .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.myself .social-media li {
  display: inline;
  margin-right: 4%;
  font-size: 1.2em;
}

.myself i {
  color: #505f79;
  margin-bottom: 5px;
}

.myself button {
  width: 140px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #396df2;
  border-radius: 10px;
  height: 50px;
  margin: 30px 0 20px 0;
}

.categories p {
  margin: 15px 0;
}

.stack p {
  margin-left: 16px;
  font-size: 1em;
}
